@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0%;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.background-avatar {
    background: rgba(3,0,12,0.5) url(/Avatar1.jpg);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    max-width: 100%;
}

.logo img{
    width: 120px;
    height: auto;
    transition: 1s;
}

.logo img:hover {
    width: 170px;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    align-items: center;
    text-align: center;
    gap: 50rem;
}

.botao {
    display: flex;
    gap: 2rem;
}

.header-botao {
    color: white;
    background-color: rgb(45, 29, 95);
    padding: 13px;
    border-radius: 20px;
    align-items: center;
    border: none;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s ;
}

.header-botao:hover {
    background-color: rgba(38, 17, 97, 0.63);
}

.meio {
    margin-left: 14%;
    margin-top: 6%;
    max-width: 100%;
}

.cabecalho h1 {
    font-size: 60px;
    color: white;
}

.cabecalho p {
    color: white;
    font-size: 17px;
    font-weight: 500;
    margin-top: 1rem;
    line-height: 25px;
}

.cabecalho-botao {
    color: white;
    font-size: 18px;
    background-color:rgba(0, 0, 0, 0.19);
    padding: 15px;
    border-radius: 20px;
    margin-top: 25px;
    border-color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cabecalho-botao:hover {
    transition-duration: 0.4s;
    background-color: rgba(0, 0, 0, 0.479);
}


/*estrela */

.avaliacao{
    display: flex;
    justify-content: center;
   }
  .star-icon{
    list-style-type: none;
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.699), 1px 6px 20px 0 rgba(0, 0, 0, 0.692);
    border: none;
    padding: 9px;
    cursor: pointer;
    color: #ffe500;
    font-size: 40px;/* alterar o tamanho das estrelas */
  }
  .star-icon::before{
    content: "\2605";
  }
  .star-icon.ativo ~ .star-icon::before{
    content: "\2606";
  }
  .avaliacao:hover .star-icon::before{
    content: "\2605";
  }
  .star-icon:hover ~ .star-icon::before{
    content: "\2606";
  }

